$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

$button-light-bg:                 $light !default;
$button-light-text:               #444 !default;
$button-light-border:             transparent !default;
$button-light-active-bg:          darken($light, 5%) !default;
$button-light-active-border:      darken($light, 8%) !default;

$button-stable-bg:                $stable !default;
$button-stable-text:              #444 !default;
$button-stable-border:            darken($stable, 5%) !default;
$button-stable-active-bg:         darken($stable, 5%) !default;
$button-stable-active-border:     darken($stable, 8%) !default;

$button-positive-bg:              $positive !default;
$button-positive-text:            #fff !default;
$button-positive-border:          darken($positive, 5%) !default;
$button-positive-active-bg:       darken($positive, 5%) !default;
$button-positive-active-border:   darken($positive, 8%) !default;

$button-calm-bg:                  $calm !default;
$button-calm-text:                #fff !default;
$button-calm-border:              darken($calm, 5%) !default;
$button-calm-active-bg:           darken($calm, 5%) !default;
$button-calm-active-border:       darken($calm, 8%) !default;

$button-assertive-bg:             $assertive !default;
$button-assertive-text:           #fff !default;
$button-assertive-border:         darken($assertive, 5%) !default;
$button-assertive-active-bg:      darken($assertive, 5%) !default;
$button-assertive-active-border:  darken($assertive, 8%) !default;

$button-balanced-bg:              $balanced !default;
$button-balanced-text:            #fff !default;
$button-balanced-border:          darken($balanced, 5%) !default;
$button-balanced-active-bg:       darken($balanced, 5%) !default;
$button-balanced-active-border:   darken($balanced, 8%) !default;

$button-energized-bg:             $energized !default;
$button-energized-text:           #fff !default;
$button-energized-border:         darken($energized, 3%) !default;
$button-energized-active-bg:      darken($energized, 3%) !default;
$button-energized-active-border:  darken($energized, 5%) !default;

$button-royal-bg:                 $royal !default;
$button-royal-text:               #fff !default;
$button-royal-border:             darken($royal, 5%) !default;
$button-royal-active-bg:          darken($royal, 5%) !default;
$button-royal-active-border:      darken($royal, 8%) !default;

$button-dark-bg:                  $dark !default;
$button-dark-text:                #fff !default;
$button-dark-border:              darken($dark, 5%) !default;
$button-dark-active-bg:           darken($dark, 5%) !default;
$button-dark-active-border:       darken($dark, 8%)!default;

$button-default-bg:               $button-stable-bg !default;
$button-default-text:             $button-stable-text !default;
$button-default-border:           $button-stable-border !default;
$button-default-active-bg:        $button-stable-active-bg !default;
$button-default-active-border:    $button-stable-active-border !default;

$item-default-active-bg:          rgba(250, 250, 250, 0.35) !default;
$item-default-active-border:          transparent !default;

$input-color-placeholder: #333;

$bgOpacity: .35;
$fgOpacity: .25;

$card-header-bg:                  rgba(250, 250, 250, 0.35) !default;
$card-body-bg:                    rgba(250, 250, 250, 0.35) !default;
$card-footer-bg:                  rgba(250, 250, 250, 0.35) !default;

$menu-width:                      185px !default;

// Set Font Famlies
$font-family-sans-serif: "Helvetica Neue","Roboto","Segoe UI",sans-serif !default;
$font-family-light-sans-serif: "HelveticaNeue-Light","Roboto-Light","Segoe UI-Light",sans-serif-light !default;
$font-family-light-sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

$font-family-base: $font-family-light-sans-serif !default;
$modal-inset-mode-top: 15% !default;
$modal-inset-mode-right: 30% !default;
$modal-inset-mode-bottom: 50% !default;
$modal-inset-mode-left: 30% !default;