<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<!-- BOOTSTRAP - ABOUT US -->
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <!-- Bootstrap Core CSS -->
    	<link href="../static/assets-aboutus/css/bootstrap.min.css" rel="stylesheet">
	    <!-- Custom CSS -->
	    <link href="../static/assets-aboutus/css/round-about.css" rel="stylesheet">

		<!-- TEMPLATED -->
		<title>Cats Galore! | About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Cats Galore!</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="breeds.html">Breeds</a></li>
					<li><a href="adoptables.html">Adoptables</a></li>
					<li><a href="organizations.html">Organizations</a></li>
					<li><a href="about.html">About Us</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<!-- Page Content -->
			    <div class="container">

			        <!-- Team Members Row -->
			        <div class="row">
			            <div class="col-lg-12">
			                <h2 class="page-header">Our Team</h2>
			            </div>
			            <div class="col-lg-4 col-sm-6 text-center">
			                <img class="img-circle img-responsive img-center" src="../static/images/prof_images/pb1.jpg" alt="">
			                <h3>Paul Bass
			                	<small><a href="pdbass@hotmail.com">Email</a> | <a href="https://github.com/gunblader">GitHub</a></small>
			                </h3>
			                <p>Shot bio of Paul Bass.</p>
			                <p>
			                	<strong>Responsbilities:</strong> <em>(Phase 1)</em> Construction of the basic web framework, SQLAlchemy, UML.<br/>
								<strong>Number of Commits:</strong> 0<br/>
								<strong>Number of Issues:</strong> 0<br/>
								<strong>Number of Unit Tests:</strong> 0<br/>
							</p>
			            </div>
			            <div class="col-lg-4 col-sm-6 text-center">
			                <img class="img-circle img-responsive img-center" src="../static/images/prof_images/sm1.jpg" alt="">
			                <h3>Sonny Marton
			                	<small><a href="sonnymarton@utexas.edu">Email</a> | <a href="https://github.com/sonnymarton">GitHub</a></small>
			                </h3>
			                <p>Shot bio of Sonny Marton.</p>
			                <p>
			                	<strong>Responsbilities:</strong> <em>(Phase 1)</em> Pull from APIs, set up of the wiki page for technical support.<br/>
								<strong>Number of Commits:</strong> 0<br/>
								<strong>Number of Issues:</strong> 0<br/>
								<strong>Number of Unit Tests:</strong> 0<br/>
							</p>
			            </div>
			            <div class="col-lg-4 col-sm-6 text-center">
			                <img class="img-circle img-responsive img-center" src="../static/images/prof_images/dm1.jpg" alt="">
			                <h3>Dasha Mylius
			                	<small><a href="dashmylius@gmail.com">Email</a> | <a href="https://github.com/ceratone">GitHub</a></small>
			                </h3>
			                <p>Shot bio of Dasha Mylius.</p>
			                <p>
			                	<strong>Responsbilities:</strong> <em>(Phase 1)</em> APIary.<br/>
								<strong>Number of Commits:</strong> 0<br/>
								<strong>Number of Issues:</strong> 0<br/>
								<strong>Number of Unit Tests:</strong> 0<br/><br/><br/>
							</p>
			            </div>
			            <div class="col-lg-4 col-sm-6 text-center">
			                <img class="img-circle img-responsive img-center" src="../static/images/prof_images/kn1.jpg" alt="">
			                <h3>Kelvin Nguyen
			                	<small><a href="kelvinnguyen94@gmail.com">Email</a> | <a href="https://github.com/xugo">GitHub</a></small>
			                </h3>
			                <p>Shot bio of Kelvin Nguyen.</p>
			                <p>
				                <strong>Responsbilities:</strong> <em>(Phase 1)</em> Rackspace server spinup and configuration.<br/>
								<strong>Number of Commits:</strong> 0<br/>
								<strong>Number of Issues:</strong> 0<br/>
								<strong>Number of Unit Tests:</strong> 0<br/>
							</p>
			            </div>
			            <div class="col-lg-4 col-sm-6 text-center">
			                <img class="img-circle img-responsive img-center" src="../static/images/prof_images/jt1.jpg" alt="">
			                <h3>Jeannette Tang
				                <small><a href="jeannette.tang@utexas.com">Email</a> | <a href="https://github.com/jeannettetang">GitHub</a></small>
			                </h3>
			                <p>Shot bio of Jeannette Tang.</p>
			                <p>
								<strong>Responsbilities:</strong> <em>(Phase 1)</em> Creating the static templates.<br/>
								<strong>Number of Commits:</strong> 0<br/>
								<strong>Number of Issues:</strong> 0<br/>
								<strong>Number of Unit Tests:</strong> 0<br/>
							</p>
			            </div>
			        </div>

			        <!-- Stats Row -->
			        <div class="row">
			            <div class="col-lg-12">
			                <h2 class="page-header">Stats Info</h2>
			                <a href="">Apiary API</a> | 
			                <a href="https://github.com/gunblader/cs373-idb/issues">GitHub Issue Tracker</a> | 
			                <a href="https://github.com/gunblader/cs373-idb">GitHub Repo</a> | 
			                <a href="https://github.com/gunblader/cs373-idb/wiki">GitHub Wiki</a> <br/>
			               	<!-- <li> <a href="">Run Unit Tests</a></li> -->
			                <strong>Total Number of Commits:</strong> 0<br/>
			                <strong>Total Number of Issues:</strong> 0<br/>
			                <strong>Total Number of Unit Tests:</strong> 0<br/>
			                </p>
			            </div>
			        </div>

			        <!-- Data Row -->
			        <div class="row">
			            <div class="col-lg-12">
			                <h2 class="page-header">Data Used</h2>
			                <p>
			                	<li>links to the data sources</li>
			                	<li>description of how each was scraped</li>
			                </p>
			            </div>
			        </div>

			        <!-- Tools Used Row -->
			        <div class="row">
			            <div class="col-lg-12">
			                <h2 class="page-header">Tools Used</h2>
			                <p>
			                	<li>Collaboration: 
			                		<!-- <br/>&nbsp;&nbsp;&nbsp; -->
			                			<a href="https://github.com/">GitHub</a> |
			                		<!-- <br/>&nbsp;&nbsp;&nbsp; -->
			                			<a href="https://slack.com/">Slack</a></li>
			                	<li>API: 
			                		<!-- <br/>&nbsp;&nbsp;&nbsp; -->
			                			<a href="https://apiary.io">Apiary</a> |
			                		<!-- <br/>&nbsp;&nbsp;&nbsp; -->
			                			<a href="http://api.petfinder.com/schemas/0.9/petfinder.xsd">Pet Finder</a> |
			                		<!-- <br/>&nbsp;&nbsp;&nbsp; -->
			                			<a href="http://products.wolframalpha.com/api/documentation.html">Wolfram Alpha</a></li>
			                	<li>Server/Hosting: 
			                		<!-- <br/>&nbsp;&nbsp;&nbsp; -->
			                		<a href="http://www.rackspace.com/">Rackspace</a></li>
			                </p>
			            </div>
			        </div>

			    </div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; CATastrophe</li>
						<li>GitHub: <a href="https://github.com/gunblader/cs373-idb">CS373-IDB</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<!-- TEMPLATED -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

			<!-- BOOTSTRAP - ABOUT US -->
			<!-- jQuery -->
		    <script src="../static/assets-aboutus/js/jquery.js"></script>
		    <!-- Bootstrap Core JavaScript -->
		    <script src="../static/assets-aboutus/js/bootstrap.min.js"></script>

	</body>
</html>