<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Cats Galore! | Adoptables</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Cats Galore!</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="breeds.html">Breeds</a></li>
					<li><a href="adoptables.html">Adoptables</a></li>
					<li><a href="organizations.html">Organizations</a></li>
					<li><a href="about.html">About Us</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Adoptables</h2>
						<p>Here, you can find a database of adoptable cats. This will be coming soon. For now, please feel free to check out our examples of 3 adoptables. Click on them and see how our information for each will appear in the future.</p>
					</header>

					<!-- <h4>Adoptables</h4> -->
					<div class="table-wrapper">
						<table class="alt">
							<thead>
								<tr>
									<th>Image</th>
									<th>Name</th>
									<th>Breed</th>
									<th>Age</th>
									<th>Gender</th>
									<th>Size</th>
									<th>Organization</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img src="../static/images/model_images/Adoptable_Cali.jpg" align="center" style="width: 100px; height: 67px;" alt="" /></td>
									<td><a href="models/adoptables/1.html">Cali</a></td>
									<td>Domestic Short Hair</td>
									<td>Young</td>
									<td>Female</td>
									<td>Small</td>
									<td>CATNAP</td>
								</tr>
								<tr>
									<td><img src="../static/images/model_images/Adoptable_Carl.jpg" align="center" style="width: 100px; height: 90px;" alt="" /></td>
									<td><a href="models/adoptables/2.html">Carl</a></td>
									<td>Domestic Short Hair</td>
									<td>Adult</td>
									<td>Male</td>
									<td>Medium</td>
									<td>Humane Society of Kodiak Animal Shelter</td>
								</tr>
								<tr>
									<td><img src="../static/images/model_images/Adoptable_Babycakes.jpg" align="center" style="width: 100px; height: 70px;" alt="" /></td>
									<td><a href="models/adoptables/3.html">Babycakes</a></td>
									<td>Abyssinian</td>
									<td>Adult</td>
									<td>Female</td>
									<td>Medium</td>
									<td>Elsa's Ark Inc.</td>
								</tr>
							</tbody>
						</table>
					</div>


				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; CATastrophe</li>
						<li>GitHub: <a href="https://github.com/gunblader/cs373-idb">CS373-IDB</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>