// general
$base-font-family:                      'Helvetica Neue', Helvetica, Arial, sans-serif!default;

// tagsInput
$tags-bgcolor:                          #fff!default;
$tags-border:                           1px solid darkgray!default;
$tags-border-shadow:                    1px 1px 1px 0 lightgray inset!default;
$tags-outline-box-shadow:               0 0 3px 1px rgba(5, 139, 242, 0.6)!default;
$tags-outline-box-shadow-invalid:       0 0 3px 1px rgba(255, 0, 0, 0.6)!default;
$tags-bgcolor-disabled:					#eee!default;

$tag-height:                            26px!default;
$tag-font:                              14px $base-font-family!default;
$tag-color:                             rgba(240, 249, 255, 1) 0%, rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%!default;
$tag-border:                            1px solid rgb(172, 172, 172)!default;
$tag-border-radius:                     3px!default;
$tag-color-selected:                    rgba(254, 187, 187, 1) 0%, rgba(254, 144, 144, 1) 45%, rgba(255, 92, 92, 1) 100%!default;
$tag-color-invalid:                     #ff0000!default;
$tag-color-disabled:                    rgba(240, 249, 255, 1) 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%!default;
$tag-opacity-disabled:                  0.65!default;

$remove-button-color:                   #585858!default;
$remove-button-color-active:            #ff0000!default;
$remove-button-font:                    bold 16px Arial, sans-serif!default;

$input-font:                            $tag-font!default;

// autoComplete
$suggestions-z-index:                   999!default;
$suggestions-width:                     100%!default;
$suggestions-bgcolor:                   #fff!default;
$suggestions-border:                    1px solid rgba(0, 0, 0, 0.2)!default;
$suggestions-border-shadow:             0 5px 10px rgba(0, 0, 0, 0.2)!default;

$suggestion-font:                       16px $base-font-family!default;
$suggestion-color:                      #000!default;
$suggestion-bgcolor:                    #fff!default;
$suggestion-color-selected:             #fff!default;
$suggestion-bgcolor-selected:           #0097cf!default;

$suggestion-highlight-font:             normal bold $suggestion-font!default;
$suggestion-highlight-color:            $suggestion-color!default;
$suggestion-highlight-bgcolor:          $suggestion-bgcolor!default;
$suggestion-highlight-color-selected:   $suggestion-color-selected!default;
$suggestion-highlight-bgcolor-selected: $suggestion-bgcolor-selected!default;