<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Cats Galore! | Cali</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% block css %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">
		{% endblock %}
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="{{url_for('index')}}">Cats Galore!</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="{{url_for('index')}}">Home</a></li>
					<li><a href="{{url_for('breeds')}}">Breeds</a></li>
					<li><a href="{{url_for('adoptables')}}">Adoptables</a></li>
					<li><a href="{{url_for('organizations')}}">Organizations</a></li>
					<li><a href="{{url_for('about')}}">About Us</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Pixie-Bob</h2>
						<p><li>Medium to large in size and heavy cat that has a bobbed tail and are often polydactyl
							<li>Coat may be short or medium in length, and is thick, double-layered, and woolly in texture
							<li>Generally spotted, with small spots and heavily ticked hairs
							<li>Tail is usually between two inches long and to the hock, and is flexible but kinked or knotted
							<li>Often has more than five toes on one or both of its front paws and/or more than four toes on one or both of its back paws
							<li>active  |  calm  |  inquisitive  |  loyal  |  relaxed  |  social  |  strong</p>

						<p><li><strong>Type of Breed:</strong> natural
							<li><strong>Size:</strong> large
							<li><strong>Weight:</strong> 8.8 to 18 lb  (pounds)
							<li><strong>Hair Length:</strong> short
							<li><strong>Shedding:</strong> seasonal
							<li><strong>Grooming:</strong> moderate
							<li><strong>Origin:</strong> United States</p>
					

					<center><img src="" alt="" /></center>
					</header>

				</div>
			</section>

			<!-- Other adoptables -->
			<section id="two" class="wrapper special style4">
				<div class="inner">
					<header class="major narrow">
						<h2>Adoptables</h2>
						<p>Check out some adoptable cats of this breed!</p>
					</header>
					<div class="image-grid">
						<a href="{{url_for('adoptables_error')}}" class="image"><img src="../../../static/images/model_images/Adoptable_Alex.jpg" alt="" /></a>
						<a href="{{url_for('adoptables_error')}}" class="image"><img src="../../../static/images/model_images/Adoptable_CousinIt.jpg" alt="" /></a>
						<a href="{{url_for('adoptables_error')}}" class="image"><img src="../../../static/images/model_images/Adoptable_Lollypop.jpg" alt="" /></a>
						<a href="{{url_for('adoptables_error')}}" class="image"><img src="../../../static/images/model_images/Adoptable_Willow.jpg" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="{{url_for('breeds')}}" class="button big alt">Back to all Breeds</a><br/><br/><a href="{{url_for('organizations')}}" class="button default alt">See to all Organizations</a> <a href="{{url_for('adoptables')}}" class="button defaul alt">See to all Adoptables</a></li>
					</ul>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; CATastrophe</li>
						<li>GitHub: <a href="https://github.com/gunblader/cs373-idb">CS373-IDB</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			{% block script %}
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
			{% endblock %}

	</body>
</html>