<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Cats Galore! | Abyssinian</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="../../index.html">Cats Galore!</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="../../index.html">Home</a></li>
					<li><a href="../../breeds.html">Breeds</a></li>
					<li><a href="../../adoptables.html">Adoptables</a></li>
					<li><a href="../../organizations.html">Organizations</a></li>
					<li><a href="../../about.html">About Us</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Abyssinian</h2>
						<p><li>Medium-sized and muscular cat with a ticked coat and the general appearance of a mountain lion
							<li>Coat appears iridescent due to its agouti ticking, with bands of color on each hair
							<li>Also exists in a Somali variety, which has a  longer coat and furnishings on its ears and tail
							<li>Large eyes are surrounded by dark "eyeliner" and then another ring of lighter color
							<li>active  |  affectionate  |  agenda-driven  |  busy  |  curious  |  intelligent  |  interactive  |  loyal  |  playful  |  social</p>

						<p><li><strong>Type of Breed:</strong> natural
						<li><strong>Size:</strong> medium
						<li><strong>Weight:</strong> 7.5 to 16 lb  (pounds)
						<li><strong>Hair Length:</strong> medium  |  short
						<li><strong>Origin:</strong> Egypt</p>
					

					<center><img src="../../../static/images/model_images/Abyssinian.jpg" align="center" style="width: 250px; height: 358px;" alt="" /></center>
						
<!-- 					<p><li><strong>List of Adoptables:</strong>
						<li>1</li>
						<li>2</li>
						</p> -->

					</header>

				</div>
			</section>

		<!-- Other adoptables -->
			<section id="two" class="wrapper special style4">
				<div class="inner">
					<header class="major narrow">
						<h2>Adoptables</h2>
						<p>Check out some adoptable cats of this breed!</p>
					</header>
					<div class="image-grid">
						<a href="../adoptables/3.html" class="image"><img src="../../../static/images/model_images/Adoptable_Babycakes.jpg" alt="" /></a>
						<a href="../../errors/error_noAdoptable.html" class="image"><img src="../../../static/images/model_images/Adoptable_Border.jpg" alt="" /></a>
						<a href="../../errors/error_noAdoptable.html" class="image"><img src="../../../static/images/model_images/Adoptable_Meelo.jpg" alt="" /></a>
						<a href="../../errors/error_noAdoptable.html" class="image"><img src="../../../static/images/model_images/Adoptable_Cecil.jpg" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="../../breeds.html" class="button big alt">Back to all Breeds</a></li>
					</ul>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; CATastrophe</li>
						<li>GitHub: <a href="https://github.com/gunblader/cs373-idb">CS373-IDB</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../../../static/assets/js/jquery.min.js"></script>
			<script src="../../../static/assets/js/skel.min.js"></script>
			<script src="../../../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../../../static/assets/js/main.js"></script>

	</body>
</html>