<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Cats Galore! | Pixie-Bob</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../../static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Cats Galore!</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="breeds.html">Breeds</a></li>
					<li><a href="adoptables.html">Adoptables</a></li>
					<li><a href="organizations.html">Organizations</a></li>
					<li><a href="about.html">About Us</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Pixie-Bob</h2>
						<p><li>Medium to large in size and heavy cat that has a bobbed tail and are often polydactyl
							<li>Coat may be short or medium in length, and is thick, double-layered, and woolly in texture
							<li>Generally spotted, with small spots and heavily ticked hairs
							<li>Tail is usually between two inches long and to the hock, and is flexible but kinked or knotted
							<li>Often has more than five toes on one or both of its front paws and/or more than four toes on one or both of its back paws
							<li>active  |  calm  |  inquisitive  |  loyal  |  relaxed  |  social  |  strong</p>
					

					<center><img src="" alt="" /></center>
						
					<p><li><strong>type of breed:</strong> natural
						<li><strong>size:</strong> large
						<li><strong>weight:</strong> 8.8 to 18 lb  (pounds)
						<li><strong>hair length:</strong> short
						<li><strong>shedding:</strong> seasonal
						<li><strong>grooming:</strong> moderate
						<li><strong>origin:</strong> United States</p>

					</header>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; CATastrophe</li>
						<li>GitHub: <a href="https://github.com/gunblader/cs373-idb">CS373-IDB</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../../../static/assets/js/jquery.min.js"></script>
			<script src="../../../static/assets/js/skel.min.js"></script>
			<script src="../../../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../../../static/assets/js/main.js"></script>

	</body>
</html>