<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<!-- BOOTSTRAP - ABOUT US -->
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    {% block css %}
	    <!-- Bootstrap Core CSS -->
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets-bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css') }}">
	    <!-- Custom CSS -->
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets-bootstrap/bootstrap-3.3.6-dist/css/round-about.css') }}">
		<!-- TEMPLATED -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">
		{% endblock %}
		<title>Cats Galore! | About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="{{url_for('index')}}">Cats Galore!</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="{{url_for('index')}}">Home</a></li>
					<li><a href="{{url_for('breeds')}}">Breeds</a></li>
					<li><a href="{{url_for('adoptables')}}">Adoptables</a></li>
					<li><a href="{{url_for('organizations')}}">Organizations</a></li>
					<li><a href="{{url_for('about')}}">About Us</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<!-- Page Content -->
			    <div class="container">

			        <!-- Team Members Row -->
			        <div class="row">
			            <div class="col-lg-12">
			                <h2 class="page-header">Our Team</h2>
			            </div>
			            <div class="col-lg-4 col-sm-6 text-center">
			                <img class="img-circle img-responsive img-center" src="../static/images/prof_images/pb1.jpg" alt="">
			                <h3>Paul Bass
			                	<small><a href="mailto:pdbass@hotmail.com">Email</a> | <a href="https://github.com/gunblader">GitHub</a></small>
			                </h3>
			                <p>It's Jeannettex to like the drink Tang, a kick in the glass.</p>
			                <p>
			                	<strong>Responsbilities:</strong> Back-end database<br/>
								<strong>Number of Commits:</strong> 39<br/>
								<strong>Number of Issues:</strong> 8<br/>
								<strong>Number of Unit Tests:</strong> 0<br/>
							</p>
			            </div>
			            <div class="col-lg-4 col-sm-6 text-center">
			                <img class="img-circle img-responsive img-center" src="../static/images/prof_images/sm1.jpg" alt="">
			                <h3>Sonny Marton
			                	<small><a href="mailto:sonnymarton@utexas.edu">Email</a> | <a href="https://github.com/sonnymarton">GitHub</a></small>
			                </h3>
			                <p>Nguyen you can't think of something for Kelvin, you just get Potato.</p>
			                <p>
			                	<strong>Responsbilities:</strong> Back-end database<br/>
								<strong>Number of Commits:</strong> 21<br/>
								<strong>Number of Issues:</strong> 7<br/>
								<strong>Number of Unit Tests:</strong> 9<br/>
							</p>
			            </div>
<!-- 			            <div class="col-lg-4 col-sm-6 text-center">
			                <img class="img-circle img-responsive img-center" src="../static/images/prof_images/dm1.jpg" alt="">
			                <h3>Dasha Mylius
			                	<small><a href="dashmylius@gmail.com">Email</a> | <a href="https://github.com/ceratone">GitHub</a></small>
			                </h3>
			                <p>Shot bio of Dasha Mylius.</p>
			                <p>
			                	<strong>Responsbilities:</strong> <em>(Phase 1)</em> APIary.<br/>
								<strong>Number of Commits:</strong> 0<br/>
								<strong>Number of Issues:</strong> 0<br/>
								<strong>Number of Unit Tests:</strong> 0<br/><br/><br/>
							</p>
			            </div> -->
			            <div class="col-lg-4 col-sm-6 text-center">
			                <img class="img-circle img-responsive img-center" src="../static/images/prof_images/kn1.jpg" alt="">
			                <h3>Kelvin Nguyen
			                	<small><a href="mailto:kelvinnguyen94@gmail.com">Email</a> | <a href="https://github.com/xugo">GitHub</a></small>
			                </h3>
			                <p>Please don't be apPaulled when I listen to my music with the Bass down low.</p>
			                <p>
				                <strong>Responsbilities:</strong> Back-end server, Unit Tests<br/>
								<strong>Number of Commits:</strong> 7<br/>
								<strong>Number of Issues:</strong> 7<br/>
								<strong>Number of Unit Tests:</strong> 25<br/><br/>
							</p>
			            </div>
			            <div class="col-lg-4 col-sm-6 text-center">
			                <img class="img-circle img-responsive img-center" src="../static/images/prof_images/jt1.jpg" alt="">
			                <h3>Jeannette Tang
				                <small><a href="mailto:jeannette.tang@utexas.com">Email</a> | <a href="https://github.com/jeannettetang">GitHub</a></small>
			                </h3>
			                <p>I like to drink Martonis on Sonny days.</p>
			                <p>
								<strong>Responsbilities:</strong> Front-end<br/>
								<strong>Number of Commits:</strong> 23<br/>
								<strong>Number of Issues:</strong> 9<br/>
								<strong>Number of Unit Tests:</strong> 0<br/>
							</p>
			            </div>
			        </div>

			        <!-- Stats Row -->
			        <div class="row">
			            <div class="col-lg-12">
			                <h2 class="page-header">Stats Info</h2>
			                <a href="http://docs.catsgalore1.apiary.io/#">Apiary API</a> | 
			                <a href="https://github.com/gunblader/cs373-idb/issues">GitHub Issue Tracker</a> | 
			                <a href="https://github.com/gunblader/cs373-idb">GitHub Repo</a> | 
			                <a href="https://github.com/gunblader/cs373-idb/wiki">GitHub Wiki</a> | 
			                <a href="{{url_for('tests')}}">Run Test</a><br/>
			               	<!-- <li> <a href="">Run Unit Tests</a></li> -->
			                <strong>Total Number of Commits:</strong> 90<br/>
			                <strong>Total Number of Issues:</strong> 31<br/>
			                <strong>Total Number of Unit Tests:</strong> 25<br/>
			                </p>
			            </div>
			        </div>

			        <!-- Data Row -->
			        <div class="row">
			            <div class="col-lg-12">
			                <h2 class="page-header">Data Used</h2>
			                <p>
			                	<li>Data Sources:
			                		<a href="http://api.petfinder.com/schemas/0.9/petfinder.xsd">Pet Finder</a> | 
			                		<a href="http://products.wolframalpha.com/api/documentation.html">Wolfram Alpha</a></li>
			                	<li><a href="https://github.com/gunblader/cs373-idb/wiki/MySQL-Database">Data Scraping</a>
			                	</li>
			                </p>
			            </div>
			        </div>

			        <!-- Tools Used Row -->
			        <div class="row">
			            <div class="col-lg-12">
			                <h2 class="page-header">Tools Used</h2>
			                <p>
			                	<li>Collaboration: 
			                			<a href="https://github.com/">GitHub</a> | 
			                			<a href="https://slack.com/">Slack</a></li>
			                	<li>API:
			                			<a href="https://apiary.io">Apiary</a> | 
			                			<a href="http://api.petfinder.com/schemas/0.9/petfinder.xsd">Pet Finder</a> | 
			                			<a href="http://products.wolframalpha.com/api/documentation.html">Wolfram Alpha</a></li>
			                	<li>Data Modeling:
			                		<a href="http://yuml.me">yUML</a></li>
			                	<li>Front End:
			                		<a href="http://flask.pocoo.org">Flask</a> | 
			                		<a href="http://getbootstrap.com">Bootstrap</a></li>
			                	<li>Server/Hosting: 
			                		<a href="http://www.rackspace.com/">Rackspace</a> | 
			                		<a href="http://www.namecheap.com/">Namecheap</a></li>
			                	<li>Media: 
			                		<a href="http://www.petfinder.com/">Pet Finder</a> | 
			                		<a href="http://www.wolframalpha.com/">Wolfram Alpha</a> | 
			                		<a href="http://embedgooglemaps.com/en/">Google Maps Generator</a></li>
			                </p>
			            </div>
			        </div>

			    </div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; CATastrophe</li>
						<li>GitHub: <a href="https://github.com/gunblader/cs373-idb">CS373-IDB</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
		{% block script %}
			<!-- TEMPLATED -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

			<!-- BOOTSTRAP - ABOUT US -->
			<!-- jQuery -->
		    <script src="{{ url_for('static', filename='assets-bootstrap/bootstrap-3.3.6-dist/js/jquery.js') }}"></script>
		    <!-- Bootstrap Core JavaScript -->
		    <script src="{{ url_for('static', filename='assets-bootstrap/bootstrap-3.3.6-dist/js/bootstrap.min.js') }}"></script>
		{% endblock %}
	</body>
</html>